.game-screenshots {
  // .game-screenshots__container

  &__container {
  }

  // .game-screenshots__block

  &__block {
    align-self: flex-start;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    //display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
