@import "../../responsive-property.scss";

.about-game {
  // .about-game__container
  padding-top: 20px;

  &__container {
    //display: flex;
    //gap: 10px;
  }

  // .about-game__main-information

  &__main-information {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  // .about-game__description

  &__description {
    @include responsiveProperty(font-size, 18, 15, 1);
    align-self: flex-start;
    color: #d1daf4;
    background-color: rgb(126, 133, 214, 0.8);
    flex: 1 1 50%;
    border-radius: 15px;
    padding: 20px;
    font-weight: 400;
    line-height: 1.5;
    p {
      margin-bottom: 10px;
      br {
        margin-bottom: 15px;
        display: block;
        content: "\00a0";
      }
    }
  }

  // .about-game__metacritic

  &__metacritic {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  // .about-game__metacritic-score

  &__metacritic-score {
    background-color: #d1daf4;
    font-size: 25px;
    text-align: center;
    width: 100px;
    padding: 15px 0px;
    border-radius: 15px;
    margin-bottom: 10px;
    &_high {
      background-color: rgb(36, 198, 114, 0.7);
    }
    &_middle {
      background-color: rgb(253, 181, 70, 0.7);
    }
    &_low {
      background-color: rgb(251, 95, 108, 0.7);
    }
  }

  // .about-game__metacritic-label

  &__metacritic-label {
    font-size: 17px;
  }

  // .about-game__summary

  &__summary {
    flex: 1 1 340px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
    background-color: #7e85d6cc;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
  }

  // .about-game__info

  &__info {
    display: flex;
  }
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px 50px;

  // .parent__child-1

  &__child-1 {
    color: #d1daf4;
    font-size: 15px;
  }

  // .parent__child-2

  &__child-2 {
    line-height: 1.2;
    font-size: 17px;
    color: #ffaf6a;
    font-weight: 500;
    a {
      line-height: 1.2;
      font-size: 17px;
      color: #f69643;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
