.about-game {
  // .about-game__container
  padding-top: 20px;

  &__container {
    //display: flex;
    //gap: 10px;
  }

  // .about-game__main-information

  &__main-information {
    display: flex;
    column-gap: 30px;
    color: black;
  }

  // .about-game__description

  &__description {
    background-color: rgb(126, 133, 214, 0.8);
    flex: 0 1 600px;
    border-radius: 15px;
    padding: 20px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    p {
      margin-bottom: 10px;
      br {
        margin-bottom: 15px;
        display: block;
        content: "\00a0";
      }
    }
  }

  // .about-game__metacritic

  &__metacritic {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  // .about-game__metacritic-score

  &__metacritic-score {
    font-size: 25px;
    text-align: center;
    width: 100px;
    padding: 15px 0px;
    border-radius: 15px;
    margin-bottom: 10px;
    &_high {
      background-color: rgb(0, 128, 0, 0.7);
    }
    &_middle {
      background-color: rgba(115, 128, 0, 0.7);
    }
    &_low {
      background-color: rgba(128, 0, 0, 0.7);
    }
  }

  // .about-game__metacritic-label

  &__metacritic-label {
    font-size: 17px;
  }

  // .about-game__summary

  &__summary {
    align-self: flex-start;
    padding: 20px;
    border-radius: 15px;
    font-size: 17px;
    background-color: #7e85d6cc;
  }

  // .about-game__date-block

  &__date-block {
    display: flex;
    column-gap: 100px;
  }

  // .about-game__date-label

  &__date-label {
  }

  // .about-game__date-value

  &__date-value {
    color: #ffaf6a;
  }
}

