@import '../../clamp-builder.scss';

.about-game {
  // .about-game__container
  padding-top: clampBuilder(15, 20);;

  &__container {
    //display: flex;
    //gap: 10px;
  }

  // .about-game__main-information

  &__main-information {
    display: flex;
    gap: clampBuilder(15, 30);
    flex-wrap: wrap;
    justify-content: center;
  }

  // .about-game__description

  &__description {
    font-size: clampBuilder(15, 17);
    align-self: flex-start;
    color: #d1daf4;
    background-color: rgb(126, 133, 214, 0.8);
    flex: 1 1 50%;
    border-radius: 15px;
    padding: clampBuilder(15, 20);
    font-weight: 400;
    line-height: 1.5;
    p {
      margin-bottom: clampBuilder(7, 10);
      br {
        margin-bottom: clampBuilder(7, 15);
        display: block;
        content: "\00a0";
      }
    }
  }

  // .about-game__metacritic

  &__metacritic {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: clampBuilder(7, 15);
  }

  // .about-game__metacritic-score

  &__metacritic-score {
    background-color: #d1daf4;
    font-size: clampBuilder(17, 25);
    text-align: center;
    width: 100px;
    padding: 15px 0px;
    border-radius: 15px;
    margin-bottom: 10px;
    &_high {
      background-color: rgb(36, 198, 114, 0.7);
    }
    &_middle {
      background-color: rgb(253, 181, 70, 0.7);
    }
    &_low {
      background-color: rgb(251, 95, 108, 0.7);
    }
  }

  // .about-game__metacritic-label

  &__metacritic-label {
    font-size: clampBuilder(14, 17);
    font-weight: 700;
  }

  // .about-game__summary

  &__summary {
    flex: 1 1 340px;
    align-self: flex-start;
    padding: clampBuilder(15, 20);
    border-radius: 15px;
    font-size: 16px;
    background-color: #7e85d6cc;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
  }

  // .about-game__info

  &__info {
    display: flex;
  }
}

.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px clamp(15px, 0.223rem + 3.57vw, 50px);

  // .parent__child-1

  &__child-1 {
    font-size: clamp(14px, 0.855rem + 0.1vw, 15px);
    color: #d1daf4;
  }

  // .parent__child-2

  &__child-2 {
    font-size: clamp(15px, 0.897rem + 0.2vw, 17px);
    line-height: 1.2;
    color: #ffaf6a;
    font-weight: 500;
    a {
      line-height: 1.2;
      font-size: clamp(15px, 0.897rem + 0.2vw, 17px);
      color: #f69643;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}
