.about-game-skeleton {

  // .about-game-skeleton__container

  &__container {
  }

  // .about-game-skeleton__main-information

  &__main-information {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  // .about-game-skeleton__description

  &__description {
    flex: 1 1 50%;
    border-radius: 15px;
    padding: 20px;
    line-height: 1.5;
    height: 100%;
    background-color: rgb(126, 133, 214, 0.8);
   
  }

  // .about-game-skeleton__summary

  &__summary {
    background-color: rgb(126, 133, 214, 0.8);
    flex: 1 1 340px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
  }
}
.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0px 50px;

  // .parent__child-1

  &__child-1 {
    color: #d1daf4;
    font-size: 15px;
  }

  // .parent__child-2

  &__child-2 {
    line-height: 1.2;
    font-size: 17px;
    color: #ffaf6a;
    font-weight: 500;
  }
}

.about-game {
  // .about-game__metacritic

  &__metacritic {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  // .about-game__metacritic-score

  &__metacritic-score {
    font-size: 25px;
    text-align: center;
    width: 100px;
    padding: 15px 0px;
    border-radius: 15px;
    margin-bottom: 10px;
    &_high {
      background-color: rgb(0, 128, 0, 0.7);
    }
    &_middle {
      background-color: rgba(115, 128, 0, 0.7);
    }
    &_low {
      background-color: rgba(128, 0, 0, 0.7);
    }
  }

  // .about-game__metacritic-label

  &__metacritic-label {
    font-size: 17px;
  }

  // .about-game__summary

  &__summary {
    flex: 1 1 340px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 15px;
    font-size: 16px;
    background-color: #7e85d6cc;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
  }

  // .about-game__info

  &__info {
    display: flex;
  }
}
