@import "../../../clamp-builder.scss";

.developers-page {
  padding-top: 100px;
  padding-bottom: 50px;

  // .developers-page__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .developers-page__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 65px;
    row-gap: 50px;
    width: 100%;
  }

  // .developers-page__developer-card

  &__developer-card {
  }
  // .developers-page__title

  &__title {
    font-size: clampBuilder(30, 70);
    font-weight: 700;
    margin-bottom: clampBuilder(25, 40);
    align-self: flex-start;
  }
}
