@import "../../../clamp-builder.scss";
.game-page {
  background: center/cover no-repeat;
  min-height: 100vh;
  padding-top: 100px;

  // .game-page__container

  &__container {
  }

  // .game-page__about-game

  &__about-game {
    flex: 1 0 580px;
  }

  // .game-page__name

  &__name {
    font-weight: 700;
    font-size: clampBuilder(36, 65, 320, 1300);
    margin-bottom: clampBuilder(20, 30, 320, 1300);
  }
}
