@import "../../../responsive-property.scss";

.game-page {
  background: center/cover no-repeat;
  min-height: 100vh;
  padding-top: 100px;

  // .game-page__container

  &__container {
  }

  // .game-page__content-block

  &__content-block {
    display: flex;
    column-gap: 30px;
  }

  // .game-page__about-game

  &__about-game {
    flex: 1 0 580px;
  }

  // .game-page__name

  &__name {
    font-weight: 700;
    @include responsiveProperty(font-size, 65, 40, 1);
    @include responsiveProperty(margin-bottom, 30, 20, 1);
  }
}
