.select-genre-panel {
   background-color: #6465c7;
   padding: 20px;
   border-radius: 25px;

   grid-area: 1 / 1 / 3 / 2;

  // .select-genre-panel__item

  &__item {

   button {
      background: none;
      color: white;
      font-size: 20px;
   }
  }

  // .select-genre-panel__container

  &__container {
  }

  // .select-genre-panel__list

  &__list {
   display: flex;
   flex-direction: column;
   gap: 10px;
  }
}
