@import "../../responsive-property.scss";

.single-game-navigation {
  padding: 25px 0px 25px 0px;
  height: auto;
  border-radius: 15px;
  background-color: rgb(209, 218, 244, 0.7);
  align-items: center;
  display: flex;

  // .single-game-navigation__container

  &__container {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  // .single-game-navigation__list

  &__list {
    @include responsiveProperty(column-gap, 30, 10, 1);
    height: 100%;
    display: flex;
    align-items: center;
    row-gap: 20px;
    @media (max-width: 531px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .single-game-navigation__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      border-radius: 20px;
      height: 5px;
      width: 0;
      background-color: rgb(83, 83, 138);

      transition: width 0.3s ease;
    }
    &_active::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      height: 5px;
      width: 100%;
      border-radius: 20px;
      background-color: rgb(83, 83, 138);
      transition: width 0.3s ease;
    }
    &:hover::before {
      width: 100%;
    }
  }

  // .single-game-navigation__item-link

  &__item-link {
    color: #6465c7;
    font-size: 15px;
    @media (max-width: 531px) {
      font-size: 17px;
    }
    font-weight: 500;
    &:hover {
      color: rgb(69, 69, 149);
    }
    &_active {
      color: rgb(69, 69, 149);
    }
  }
}
