@import "../../clamp-builder.scss";
.game-card {
  border-radius: 10px;
  background-color: #1d1d37;
  &:hover {
    .game-card__img img {
      transform: scale(1.1);
    }
    .game-card__name {
      color: #6465c7;
    }
  }

  // .game-card__link

  &__link {
    display: block;
  }
  // .game-card__container

  &__container {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
  }

  // .game-card__img

  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    aspect-ratio: 284 / 160;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }
  }

  // .game-card__name

  &__name {
    transition: all 0.3s ease;
    color: white;
    margin-top: 15px;
    font-size: clampBuilder(18, 23);
    font-weight: 700;
    padding: 0px clampBuilder(10, 15) clampBuilder(15, 20) clampBuilder(10, 15);
  }
}
